@import '_reset.less';
@import '_fonts.less';
* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}

@tabletMaxWidth: 999;
@mobileMaxWidth: 600;
@tabletMinWidth: (@mobileMaxWidth + 1);
@desktopMinWidth: (@tabletMaxWidth + 1);
@mobile: ~"(max-width: @{mobileMaxWidth}px)";
@tablet: ~"(max-width: @{tabletMaxWidth}px)";
@mobile-and-tablet: ~"(max-width: @{tabletMaxWidth}px)";
@tablet-and-desktop: ~"(min-width: @{tabletMinWidth}px)";
@desktop: ~"(min-width: @{desktopMinWidth}px)";


@backgroundColor: #f9efca;
@toolbarIconColor: #D8D8D8;
@mapBackgroundColor: #fefefe;
@primaryTextColor: #FFFFFF;
@fadedTextColor: #CECECE;
@harbourColor: #EE3339;

@measurementColor: #35abff;
@measurementColorOld: #3450FF;

@tooltipBackgroundColor: #808080;

body {
  background: @backgroundColor;
  font-family: 'OpenSans';
  width: 100%;
  overflow-x: hidden;
  @media @desktop {
    font-size: 17px;
  }
  @media @tablet {
    font-size: 15px;
  }
}

button {
  border: none;
  padding: 5px 5px;
  transition: background 150ms;
  &:focus {
    outline: none;
    border: none;
  }
}


.button_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button.button--secondary {
  margin-top: -10px;
  z-index: 2;
  width: @small-button-size;
  height: @small-button-size;
}
@button-background-color: rgb(33, 52, 70);
@button-background-color-active: lighten(@button-background-color, 10);
@button-background-color-disabled: rgb(128, 128, 128);
@button-size: 60px;
@small-button-size: 50px;
@button-icon-color: rgb(255,255,255);
.button {
  display: block;
  margin: 0;
  z-index: 3;
  width: @button-size;
  height: @button-size;
  border-radius: @button-size;
  margin: 5px;
  background: @button-background-color;
  transition: background 200ms;
  &.active {
    background: @button-background-color-active;
  }
  &:hover {
    background: @button-background-color-active;
  }
  &:disabled, &:disabled:hover {
    background: @button-background-color-disabled;
    svg {
      opacity: 0.7;
    }
  }

  .icon--harbour {
    height: 32px;
    width: 32px;
    circle {
      stroke: @button-icon-color;
    }
    path, polygon {
      fill: @button-icon-color;
    }
  }

  /*&.active {

    .icon--measurement {
      path, circle {
        fill: @button-icon-color;
      }
      polyline {
        stroke: @button-icon-color;
      }
    }
    .icon--measurement-own-position {
      path, .stroke{
        stroke: @button-icon-color;
      }
      circle:first-child {
        fill: @button-icon-color;
      }
    }
    .icon--location {
      path, circle {
        stroke: @button-icon-color;
      }
      circle:first-child {
        fill: @button-icon-color;
      }
    }
  }*/
}

.topbar {
  position: absolute;
  padding: 5px;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
}
.zoombar {
  padding: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 11;
}

#search {
  display: flex;
  align-items: center;
  padding: 5px;
  height: @button-size;
  border-radius: @button-size;
  background: @button-background-color;
  @media @desktop {
    width: 600px;
    max-width: 600px;
  }

  @media @tablet {
    width: 400px;
  }

  @media @mobile {
    max-width: 580px;
  }

  margin: 0 10px;
  flex: 1 1 auto;
}

.map-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  &.hover #map {
    cursor: pointer;
  }
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: @mapBackgroundColor;
  -webkit-tap-highlight-color: transparent;
}

.search__value {
  padding: 5px 15px 5px 0px;
  display: flex;
  align-items: center;
  .icon {
    display: inline-block;
    margin-right: 8px;
    width: 15px;
    height: 15px;
  }
}
.search__value--secondaryText {
  color: @fadedTextColor;
  margin-left: 8px;
}

.search__value--harbourNumber {
  color: @harbourColor;
  width: 40px;
  flex: 1 1 auto;
  text-align: right;
  display: inline-block;
}

.search {
  color: @primaryTextColor;
  flex: 1 1 auto;
  .search__control {
    border-color: transparent !important;
    background: transparent;
    box-shadow: none;
    border-radius: 2px;
    &.search__control--is-focused {
      outline: none;
    }
  }
  .search__value-container {
    padding: 5px 15px;
    > div {
      color: @primaryTextColor;
    }
  }
  .search__menu {
    background: @button-background-color;
    position: absolute;
    margin-top: 0px;
    border-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 10px;
    z-index: 1111;
  }
  .search__option {
    cursor: pointer;
  }
  .search__option--is-focused {
    background: @button-background-color-active;
  }

  .search__placeholder {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: @primaryTextColor;
    width: 90%;
  }
}

.map-wrapper.measure .map-tooltip-measure {
  display: block;
}

.map-tooltip, .map-tooltip-measure {
  position: relative;
  border-radius: 2px;
  padding: 4px 8px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
}

.map-tooltip {
  z-index: 2;
  background: @tooltipBackgroundColor;
  color: white;
  opacity: 0.8;
}

.map-tooltip-measure {
  display: none;
  z-index: -1;
  background: @measurementColor;
  color: white;
  opacity: 1;
}
.map-tooltip-measure--old {
  background-color: @measurementColorOld;
  color: white;
}
.map-tooltip-measure:before {
  border-top: 6px solid @measurementColor;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.map-tooltip-measure--old:before {
  border-top-color: @measurementColorOld;
}

#map .ol-scale-line {
  background: rgba(156, 156, 156, 0.65);

  .ol-scale-line-inner {
    border: 1px solid #000000;
    border-top: none;
    color: #000000;
    font-size: 11px;
  }
}

.toolbar__button:disabled {
  svg {
    opacity: 0.5;
  }
}

.toolbar__button.active {
  &.toolbar__button--geolocation-error {
    background: #840606;
    svg {
      opacity: 0.5;
    }
  }
  &.toolbar__button--geolocation-loading {
    svg {
      opacity: 0.5;
    }
  }
}


@menuWidth: 350px;
.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 111;
  width: @menuWidth;
  background: red;
  padding: 10px 20px 20px 20px;
  right: -@menuWidth;
  transition: right 300ms;

  &.open {
    right: 0;
  }
}
.menu__layer {
  display: flex;
  align-items: center;
  margin: 10px 0;

  &.visible {
    .menu__layer--button-visiblity {
      opacity: 1;
    }
  }
  .menu__layer--button-action, .menu__layer--button-visiblity {
    background: transparent;
    cursor: pointer;
    display: block;
    transition: background 150ms;
  }
  .menu__layer--button-action {
    margin-right: 2px;
    width: 37px;
    height: 37px;
    padding: 5px;
  }
  .menu__layer--button-visiblity {
    margin-right: 10px;
    width: 37px;
    height: 37px;
    padding: 5px;
    opacity: 0.6;
    display: flex;
    align-items: center;
  }
  > svg {
    margin: 0 5px;
  }
  .menu__layer--label {
    flex: 1 1 auto;
    margin: 0 5px;
    color: @toolbarIconColor;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
    white-space: nowrap;
  }
  .icon--harbour {
    height: 32px;
    width: 32px;
    circle {
      stroke: @toolbarIconColor;
    }
    path, polygon {
      fill: @toolbarIconColor;
    }
  }
}
.topbar__spacer {
  flex: 1 1 auto;
}
.menu__toggle {
  position: absolute;
  padding: 4px;
  top: 4px;
  right: 5px;
  z-index: 1111;
}
@menuIconColor: @toolbarIconColor;
.icon--menu {
  width: 33px;
  height: 33px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: @menuIconColor;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 5px;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 15px;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 25px;
      transform-origin: left center;
    }
  }

  &.open span {
    &:nth-child(1) {
      transform: rotate(45deg);
      top: 3px;
      left: 0px;
    }

    &:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
      top: 26px;
      left: 0px;
    }
  }
}

